* {
  box-sizing: border-box;
}

body {
  background-color: #121213;
  color: #fff1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #fff;
  background-color: #333;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #555;
}

.hovered {
  background-color: #aaa;
  border-color: #333;
  border-style: dashed;
}


@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}
